{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>CCPEM-3D Viewer</title>
		<script src="{% static 'view3D/bower_components/webcomponentsjs/webcomponents-lite.js' %}"></script>
		<link rel="import" href="{% static 'view3D/bower_components/polymer/polymer.html' %}">
		<link rel="import" href="{% static 'view3D/three-renderer.html' %}">
		<link rel="import" href="{% static 'view3D/bower_components/iron-ajax/iron-ajax.html' %}">
		<link rel="import" href="{% static 'view3D/bower_components/paper-slider/paper-slider.html' %}">
		<link rel="import" href="{% static 'view3D/bower_components/paper-toggle-button/paper-toggle-button.html' %}">
		<link rel="import" href="{% static 'view3D/bower_components/iron-flex-layout/iron-flex-layout.html' %}">
		<link rel="import" href="{% static 'view3D/bower_components/iron-selector/iron-selector.html' %}">
		<link rel="import" href="{% static 'view3D/bower_components/paper-checkbox/paper-checkbox.html' %}">
        <link rel="import" href="{% static 'view3D/webgl-viewer.html' %}">
        <style type="text/css">
            .renderer-div{
                height: 600px;
                width: 600px;
            }
        </style>
	</head>
	<body>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
            <table>
                <tr>{{ form }}</tr>
                <tr>
                    <td><input type="submit" value="View"></td>
                </tr>
            </table>

		</form>
        {% if not image_file %}
			<p>No file present. Please upload one then click 'view'.</p>
		{% else %}
            {% if not model_id %}
                <webgl-viewer file-path="/static/view3d/images/{{ image_file }}"></webgl-viewer>
            {% else %}
                <webgl-viewer file-path="/static/view3d/images/{{ image_file }}"
                              model-file-path="/static/view3d/images/{{ model_file }}" model-id="{{ model_id }}">

                </webgl-viewer>
            {% endif %}
        {% endif %}
	</body>
</html>